*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #F9F9F9;
} 

.container{
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding-left: 84px;
    padding-right: 84px;

}

/*Header*/
.header {
  display: flex;
  align-items: center;
}


header{
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 100;
    background-color: #F9F9F9;
}

.logo img {
  width: 234px;
  height: auto;
  padding-top: 37px;
}

.header-nav a{
    font-weight: 700;
    font-size: 14px;
    color: #262626;
    letter-spacing: 0;
    line-height: 100%;
    transition: 0.3s;
}

.header-nav a:hover{
    color: #4CE0D7;
    font-size: 16px;
}

.header-nav a {
  white-space: nowrap;
}

.header-nav{
    display: flex;
    padding-top: 50px;
    align-items: center;
    margin-left: 255px;
}

.header-nav a:nth-child(1) {
  margin-right: 65px;
}

.header-nav a:nth-child(2) {
  margin-right: 58px;
}

.header-nav a:nth-child(3) {
  margin-right: 64px;
}

.header-nav a:nth-child(4) {
  margin-right: 0;
}


.right {
  display: flex;
  align-items: center;
  gap: 66.9px;
  padding-top: 50px; 
  margin-left: 58px;
}

.right a{
    color: #262626;
    font-weight: 700;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    padding: 9px 32.1px 7.12px 32px;
    background-color: #4CE0D7;
    border-radius: 40px;
    transition: 0.3s;
    border: 2px solid transparent;
    
}

.right a:hover{
  transform: rotate(0.47deg);
  border: 3px solid #008ECF;
} 

.right a{
  white-space: nowrap;
}

.right img{
    transition: 0.3s, filter 0.3s ease;
    width: 47px;
    height: auto;
}

.right img:hover{
    transform: scale(1.1);
    filter: brightness(1.2);

}

/*პირველი სექცია, VENTUS FASHION*/

ventus{
    background-color: #F9F9F9;
}

.first-section{
    display: flex;
    flex-direction: column;
    padding-bottom: 73px;
}

.first-section p{
    font-size: 12px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 23%;
    padding-bottom: 22px;
    color: #FFFFFF;
    padding-left: 62px;
    padding-top: 73px;
    margin-top: 218px;
}

.first-section h1{
    font-size: 46px;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 0%;
    color: #FFFFFF;
    padding-bottom: 19px;
    padding-left: 62px;
}

.highlight{
    font-weight: 700;
    background: linear-gradient(to right, #4CE0D7, #8BA9F4);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.first-section h2{
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0%;
    line-height: 100%;
    color: #FFFFFF;
    padding-left: 58px;
}

.new-line {
  display: block;
}

.ventus {
  margin-top: 133px;
  padding-bottom: 73px;
  display: flex;
  justify-content: center;
}

.ventus-inner {
  max-width: 1272px;
  width: 100%;
  height: 559px;
  border-radius: 20px;
  overflow: hidden;
  background-image: url("images/bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: 0.3s;
}

.ventus-inner:hover{
    transform: scale(1.03)
}

/*მეორე სექცია, TOPICS და ქარდები*/

.topics{
    background-color: #F9F9F9;
}

.text h1{
    font-size: 32px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 0%;
    color: #262626;
}

.text{
    padding-bottom: 48px;
}

.cards{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-bottom: 87.5px;
}

.card{
    width: 204px;
    height: 291px;
    border-radius: 20px;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: 0.3s;
}

.card:hover{
    transform: translate(5.5px, -5.5px);
}

.card h2{
    font-size: 20px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 0%;
    margin-top: 20px;
}

.card img{
    width: 88px;
    margin-top: 51px;
}

.card a{
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0%;
    line-height: 100%;
    padding: 10px 40px 9.12px 40px;
    background-color: #4CE0D7;
    border-radius: 40px;
    margin-top: 29px;
    color: #262626;
    transition: 0.3s;
    border: 2px solid transparent;
}

.card a:hover{
    transform: rotate(0.47deg);
    border: 3px solid #008ECF;
} 



/*ხაზი*/

.horizontal-line {
    width: 1267px;
    height: 0;
    border-top: 1px solid #BCBCBC;
    opacity: 1;
    padding-bottom: 52.5px;
    padding-left: 1.5px;
    padding-right: 3.5px;
}

html {
  scroll-behavior: smooth;
}

